@use "./variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

[hidden] {
   display: none !important;
}

body,
p,
a,
li,
div,
p,
section,
form,
button,
input,
textarea {
   margin: 0;
   padding: 0;
   font-size: 14px;
   line-height: 1.1;
   box-sizing: border-box;
}

svg {
   display: flex;
}

ol {
   list-style: decimal;

   &::marker {
      color: #9fadbc;
   }
}

ul {
   list-style: disc;

   &::marker {
      color: #9fadbc;
   }
}

.css-board-styled-scrollbar {
   scrollbar-color: #fff6 #00000026;
   scrollbar-width: auto;
}

.css-logo-loading-border {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 10;
   background-color: transparent;
   height: 100%;
   width: 100%;
   border-radius: 50%;
   border: none;
   border-top: 3px solid var(--ht-regular-text-cl);
   animation: logo-loading 1.2s infinite forwards linear;
}

.css-tasks-styled-scrollbar {
   scrollbar-color: var(--ht-modal-btn-hover-bgcl) var(--ht-modal-btn-bgcl);
   scrollbar-width: thin;
}

@keyframes logo-loading {
   0% {
      transform: translate(-50%, -50%) rotate(0);
   }
   100% {
      transform: translate(-50%, -50%) rotate(360deg);
   }
}

.tox.tox-tinymce {
   border-radius: 4px;

   .tox-sidebar-wrap {
      .tox-edit-area {
         &::before {
            border: none;
         }
      }
   }
}

.Task-details-description {
   ol,
   ul {
      color: var(--ht-regular-text-cl);
   }
}
.Task-details-user-comment {
   ol,
   ul {
      color: var(--ht-regular-text-cl);
   }
}
