@use "./variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

[hidden] {
   display: none !important;
}

body,
h1,
h2,
h3,
p,
a,
li,
div,
p,
section,
form,
button,
input,
textarea {
   margin: 0;
   padding: 0;
   font-size: 14px;
   line-height: 1;
   box-sizing: border-box;
}

svg {
   display: flex;
}

.css-board-styled-scrollbar {
   scrollbar-color: #fff6 #00000026;
   scrollbar-width: auto;
}

.css-logo-loading-border {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 10;
   background-color: transparent;
   height: 100%;
   width: 100%;
   border-radius: 50%;
   border: none;
   border-top: 3px solid var(--ht-regular-text-cl);
   animation: logo-loading 1.2s infinite forwards linear;
}

.css-tasks-styled-scrollbar {
   scrollbar-color: #a6c5e229 #a1bdd914;
   scrollbar-width: thin;
}

@keyframes logo-loading {
   0% {
      transform: translate(-50%, -50%) rotate(0);
   }
   100% {
      transform: translate(-50%, -50%) rotate(360deg);
   }
}
