@use "./variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

[hidden] {
   display: none !important;
}

body,
h1,
h2,
h3,
p,
a,
li,
div,
p,
section,
form,
button,
input,
textarea {
   margin: 0;
   padding: 0;
   font-size: 14px;
   line-height: 1;
   box-sizing: border-box;
}

svg {
   display: flex;
}

.css-background {
   height: calc(100% - var(--ht-top-nav-height));
}

.css-main-board {
   width: calc(100% - var(--ht-left-side-nav-width));
}

.css-board-styled-scrollbar {
   scrollbar-color: #fff6 #00000026;
   scrollbar-width: auto;
}

.css-board-list {
   height: calc(100% - var(--ht-top-nav-height) - 12px);
}
