:root {
   // text color
   --ht-regular-text-cl: #9fadbc;
   --ht-secondary-text-cl: #172b4d;
   --ht-rich-file-title-cl: #579dff;

   // outline
   --ht-outline-cl: #85b8ff;

   // background color
   --ht-top-nav-bgcl: #1f2123;
   --ht-phase-bgcl: #101204;
   --ht-modal-board-bgcl: #323940;
   --ht-modal-btn-bgcl: #a1bdd914;
   --ht-focused-textfield-bgcl: #22272b;
   --ht-divider-bgcl: #ffffff36;
   --ht-confirm-btn-bgcl: #579dff;
   --ht-logo-loading-bar-bgcl: var(--ht-regular-text-cl);
   --ht-modal-popover-bgcl: #282e33;
   --ht-delete-btn-bgcl: #f87168;

   // hover
   --ht-hover-silver-bgcl: #333c43;
   --ht-modal-btn-hover-bgcl: #a6c5e229;
   --ht-delete-btn-hover-bgcl: #fd9891;

   // height
   --ht-top-nav-height: 56px;

   // width
   --ht-left-side-nav-width: 260px;
   --ht-task-modal-width: 768px;
}
